.topheader{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 10;
  border-bottom: thin solid;
  height: 80px;
}



.left{
  display: inline-flex;
  padding: 0;
  height: 70px;
  align-items: center;
  min-width: 200px;
  flex-grow: 3;
}

.right{
  display: flex;
  padding: 0;
  height: 70px;
  margin-right: 40px;
  align-items: center;
  justify-content: flex-end;
  min-width: 350px;
  flex-grow: 1;

}

.logo{
  padding-left: 20px;
  height: 60px;
  width: 70px;
}

.logotxt{
  color: mediumaquamarine;
  padding-left: 10px;
}

ul li{
  display: inline-flex;
  padding:10px 15px;
}

.black{
  color: black;
}


main{
  display: flex;
  justify-content: center;
}


.maincontainer{
  display: inline-flex;
  position: relative;
  top: 80px;
  /*left: 90px;*/
  border: thin solid;
  flex-wrap: nowrap;
  /*margin-bottom: 90px;
  margin-right: 90px;
  margin-left: 90px*/
  z-index: 3;
}



.firstcolumn{
  display: inline-flex;
  flex-direction: column;
  width: 630px;
  border: thin solid;
  margin-right: 30px;
  margin-top: 30px;

}

.firstcolumn div{
  border: thin solid;
}


.secondcolumn{
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  border: thin solid;
  margin-right: 30px;
  margin-top: 30px;
}

.secondcolumn div{
  border: thin solid;
}

.thirdcolumn{
  display: inline-flex;
  flex-direction: column;
  width: 240px;
  border: thin solid;
  margin-right: 30px;
  margin-top: 30px;
}

.thirdcolumn div{
  border: thin solid;
}



body{
  font-family: Georgia;
 font-size: 17px;
 color: black;
}


.bkgr1{
  display: flex;
  background-image: url("./images/img-story-main.png");
  width: 100%;
  height: 300px;
}

.mainstory{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}


.bkgr2{
  display: flex;
  background-image: url("./images/img-story-2.png");
  height: 300px;
}



.headline{
  font-family: Georgia;
   font-weight: bold;
   font-size: 30px;
   color: white;
}


.bkgr3{
  display: flex;
  background-image: url("./images/img-story-3.png");
  height: 300px;
}


.bkgr4{
  display: flex;
  background-image: url("./images/img-story-1.png");
  height: 300px;
}
